<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Hezron Bii">
    <meta name="description" content="This website serves APIs to developers to power their applications">
    <meta
            name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/light_blue_png.png' %}" type="image/x-image">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact us</title>
</head>


<body>
{% if request.user_agent.is_pc %}
<nav class="topnav">
    <a href="{% url 'home' %}"><img src="{% static 'images/light_blue_png.png' %}" alt="roniib icon" width="50"
                                    height="40"
                                    style="margin-left:10px;"></a>
    <ul class="topLinks">
        <li><a href="{% url 'apicategories' %}" class="inactive">Browse APIS</a></li>
        <li><a href="{% url 'pricing' %}" class="inactive">Pricing</a></li>
        <li><a class="active">Contact Us</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}" class="inactive">Sign In</a></li>
        <li><a href="{% url 'register' %}" class="inactive">Register</a></li>
        {% else %}
        <li><a href="{% url 'myaccount' %}" class="inactive">My Account</a></li>
        <img src="{% static 'images/account.png' %}"
             width="30" height="30" style="border-radius:30px;margin-top:5px">
        {% endif %}
    </ul>
</nav>
{% else %}
<nav class="topnav" style="width:100%;display-flex:justify-content:space_between;align-items:center;">
    <a href="{% url 'home' %}" style="padding:5px;margin-top:0px"><img src="{% static 'images/light_blue_png.png' %}"
                                                                       alt="roniib icon" width="50"
                                                                       height="40"
                                                                       style="margin-left:0px;"></a>
    <div style="margin-right:20px" id="menu-open"><i class="fa fa-bars" style="font-size:24px;color:white"></i></div>
    <div style="margin-right:20px;display:none" id="menu-close"><i class="fa fa-close"
                                                                   style="font-size:24px;color:white"></i></div>
</nav>

<div id="nav"
     style="text-decoration:none;padding-top:70px;display:none;width:90%;height:800px;z-index:1000px;position: absolute;background-color: rgba(4, 69, 106, 1);">
    <ul class="topLinks">
        <li><a href="{% url 'apicategories' %}" class="inactive">Browse APIS</a></li>
        <li><a href="{% url 'pricing' %}" class="inactive">Pricing</a></li>
        <li><a href="{% url 'contact' %}" class="active">Contact Us</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}" class="inactive">Sign In</a></li>
        <li><a href="{% url 'register' %}" class="inactive">Register</a></li>
        {% else %}
        <li><a href="{% url 'myaccount' %}" class="inactive">My Account</a></li>
        <img src="{% static 'images/account.png' %}"
             width="60" height="60" style="border-radius:30px;margin-top:20px;margin-left:20px">
        {% endif %}
    </ul>
</div>

{% endif %}

<div style="overflow-y: scroll;height: 100vh">
    <div class="witc">
        {% if request.user_agent.is_pc %}
        <div class="incontent" style="background-color:white;margin-top:70px;padding-top:0px">
            {% if mess %}
            <p style="color:green">{{mess}}</p>
            {% endif %}
            <h1 class="regtext">Contact Form</h1>
            <hr style="background-color: #013b51;height:2px;margin-top:0px">
            <form class="f-class" style="margin-left:30px" action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <label for="username" style="font-size:15px">Email: </label>
                <input type="email" name="email" id="username" placeholder="Email" style="background-color: #f4f4f4;"
                       required><br>
                <label for="complaint" style="font-size:15px">Complaint/compliment:</label><br>
                <textarea rows="30" name="message" cols="65" required
                          placeholder="Describe in detail the issue you are facing" id="complaint"
                          style="background-color: #f4f4f4;">
                </textarea>

                <div style="justify-content: center;display: flex;">
                    <button type="submit" class="signupbtn">
                        <p>SUBMIT</p>
                    </button>
                </div>
            </form>

        </div>
        {% else %}
        <div class="incontent" style="background-color:white;padding-top:0px;width:90%;">
            {% if mess %}
            <p style="color:green">{{mess}}</p>
            {% endif %}
            <h1 class="regtext" style="padding-left:10px">Contact Form</h1>
            <hr style="background-color: #013b51;height:2px;margin-top:0px;width:100%;">
            <form method="post" class="f-classmob" style="margin-left:30px;width:100%;" action="{% url 'contact' %}">
                {% csrf_token %}
                <label for="username" style="font-size:15px">Email: </label>
                <input type="email" id="username" name="email" required placeholder="Email"
                       style="background-color: #f4f4f4;"><br>
                <label for="complaint" style="font-size:15px">Complaint/compliment:</label><br>
                <textarea rows="30" cols="45" name="message" required
                          placeholder="Describe in detail the issue you are facing" id="complaint"
                          style="background-color: #f4f4f4;width:85%">
                </textarea>

                <div style="align-items: center;display: flex;width:100%;margin-left:50px">
                    <button type="submit" class="signupbtn">
                        <p>SUBMIT</p>
                    </button>
                </div>
            </form>


        </div>
        {% endif %}
    </div>

</div>
<script>

    $('#menu-open').click( function(){
$('#menu-open').css('display','none');
$('#nav').css('display','block');
$('#menu-close').css('display','block');
                });
$('#menu-close').click( function(){
$('#menu-close').css('display','none');
$('#nav').css('display','none');
$('#menu-open').css('display','block');
                });
</script>

</body>

</html>