<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Hezron Bii">
    <meta name="description" content="This website serves APIs to developers to power their applications">
    <meta
            name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/light_blue_png.png' %}" type="image/x-image">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Roniib APIs| My Account</title>
    <script src="{% static '/js/main.js' %}"></script>
</head>

<body>
<p style="display:none" id="apitokenkey">{{apitoken}}</p>

{% if request.user_agent.is_pc %}

<nav class="topnav">
    <a href="{% url 'home' %}"><img src="{% static 'images/light_blue_png.png' %}" alt="roniib icon" width="50"
                                    height="40"
                                    style="margin-left:10px;"></a>
    <ul class="topLinks">
        <li><a href="{% url 'apicategories' %}" class="inactive">Browse APIS</a></li>
        <li><a href="{% url 'pricing' %}" class="inactive">Pricing</a></li>
        <li><a href="{% url 'contact' %}" class="inactive">Contact Us</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}" class="inactive">Sign In</a></li>
        <li><a href="{% url 'register' %}" class="inactive">Register</a></li>
        {% else %}
        <img src="{% static 'images/account.png' %}"
             width="30" height="30" style="border-radius:30px;margin-top:5px">
        {% endif %}
    </ul>
</nav>
{% else %}
<nav class="topnav" style="width:100%;display-flex:justify-content:space_between;align-items:center;margin-top:0px;">
    <a href="{% url 'home' %}" style="padding:5px;margin-top:0px"><img src="{% static 'images/light_blue_png.png' %}"
                                                                       alt="roniib icon" width="50"
                                                                       height="40"
                                                                       style="margin-left:0px;"></a>
    <div style="margin-right:20px" id="menu-open"><i class="fa fa-bars" style="font-size:24px;color:white"></i></div>
    <div style="margin-right:20px;display:none" id="menu-close"><i class="fa fa-close"
                                                                   style="font-size:24px;color:white"></i></div>
</nav>

<div id="nav"
     style="margin-top:0px;text-decoration:none;padding-top:70px;display:none;width:90%;height:800px;z-index:1000px;position: absolute;background-color: rgba(4, 69, 106, 1);">
    <ul class="topLinks">
        <li><a href="{% url 'apicategories' %}" class="inactive">Browse APIS</a></li>
        <li><a href="{% url 'pricing' %}" class="inactive">Pricing</a></li>
        <li><a href="{% url 'contact' %}" class="inactive">Contact Us</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}" class="inactive">Sign In</a></li>
        <li><a href="{% url 'register' %}" class="inactive">Register</a></li>
        {% else %}
        <li><a href="{% url 'myaccount' %}" class="active">My Account</a></li>
        <img src="{% static 'images/account.png' %}"
             width="60" height="60" style="border-radius:30px;margin-top:20px;margin-left:20px">
        {% endif %}
    </ul>
</div>

{% endif %}
{% if request.user_agent.is_pc %}
<div style="display: flex;margin-top: 50px;">
    <div style="width: 20%;background: #EDEDED;;padding: 20px;">
        <p style="color: #0E7DA6;">
                <span>
                    <i class="fa fa-user"></i>
                </span>
            MY ACCOUNT
        </p>

        <ul style=" list-style-type: none;">
            <a href="#">
                <li class="tab_btn" onclick="switchTab('basic_info')" style="color:black" id="bs_inf">Basic Info</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('analytics')" style="color:#0E7DA6" id="bs_ana">Analytics</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('billing')" style="color:black" id="bs_bil">Billing</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('my_apis')" style="color:black" id="bs_mya">API Keys</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('my_sub')" style="color:black" id="bs_mysub">My Subscriptions
                </li>
            </a>
        </ul>
        <a href="{% url 'logout' %}">
            <p>
                    <span>
                        <i class="fa fa-sign-out"></i>
                    </span>
                SIGN OUT
            </p>

        </a>

    </div>
    <div style="width: 80%;padding: 20px;overflow-y: scroll;height: 85vh">
        <div class="disp_content" id="basic_info" style="display:none">
            <div class="with-search">
                <h2>Basic Info</h2>
            </div>
            <div style="margin-left:30px">
                <img id="previewImage"
                     src="{% static 'images/account.png' %}"
                     alt="my profile picture" width="100" height="100" style="border-radius:200px">

                <div>
                    <p>Username: <span style="font-weight:bold">{{ request.user.username }}</span></p>
                    <p>Email: <span style="font-weight:bold">{{ request.user.email }} </span></p>


                </div>


            </div>
        </div>
        <div class="disp_content" id="billing" style="display:none">
            <div class="with-search">
                <h2>Billing</h2>
            </div>
            <div style="margin-left:30px">
                <div>
                    <div style="border-color:green;border-radius:10px;border-style: solid; width:200px;display:flex;justify-content:center">
                        <p style="margin:0px;padding:5px;color:green">Resume Subscription</p>
                    </div>
                </div>
                <div>
                    <h5><u>Last Transactions</u></h5>
                    <p>NEXT BILLING ON : <span style="color:blue">06/01/2023</span></p>
                    <table class="w3-table w3-striped w3-center" style="width:100%">
                        <tr>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Transaction ID</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Amount</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Transaction date</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">status</p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div style="display:flex">
                                    <p style="margin-left:20px">QrWdsfsdfsdfsd324233f4t42f13r4fsr34</p>
                                </div>
                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p>$29</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:blue">06/12/2023 10:45 GMT</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:green">success</p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display:flex">
                                    <p style="margin-left:20px">QrWdsfsdfsdfsd324233f4t42f13r4fsr34</p>
                                </div>
                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p>$69</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:blue">06/12/2023 00:23 GMT</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:red">failed</p>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
                <hr style="color:red;width:100%;height:3px">
                <p>Accepted payment methods</p>
                <div>
                </div>
            </div>
        </div>
        <div class="disp_content" id="analytics" style="display:block">
            <div class="with-search">
                <h2>Analytics</h2>
            </div>
            <div style="margin-left:30px">
                <div style="display:flex;">
                    <div style="display:flex;justify-content:space-between;margin-right:50px">
                        <p style="margin-right:10px">Duration</p>
                        <select
                                style="font-family: poppins;background-color: azure;border-radius: 10px;">
                            <option value="javascript">Last 24 hours</option>
                            <option value="python">Last 7 days</option>
                            <option value="java">Last 1 month(30days)</option>
                        </select>
                    </div>

                </div>
                <hr style="margin:5px">

                <div style="display:flex;justify-content:space-evenly;margin-right:50px">
                    <div style="background-color:red;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                        <p style="font-size:40px;margin-left:70px;color:white;margin-top:0px;margin-bottom:0px">0%</p>
                        <p style="color:white;margin-left:70px">Errors</p>
                    </div>
                    <div style="background-color:blue;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                        <p style="font-size:40px;margin-left:70px;color:white;margin-top:0px;margin-bottom:0px">20%</p>
                        <p style="color:white;margin-left:70px">Latency</p>
                    </div>
                    <div style="background-color:green;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                        <p style="font-size:40px;margin-left:70px;color:white;margin-top:0px;margin-bottom:0px">400</p>
                        <p style="color:white;margin-left:70px">Api Calls</p>
                    </div>
                </div>
                <canvas id="chartAnalytics" style="width:100%;margin-top:40px;margin-right:50px"></canvas>

            </div>
        </div>
        <div class="disp_content" id="my_apis" style="display:none">
            <div class="with-search">
                <h2>My Api Keys</h2>
            </div>
            <div style="margin-left:30px">
                <div id="generate_token"
                     style="border-color:green;border-radius:10px;border-style: solid; width:200px;display:flex;justify-content:center">
                    <p style="margin:0px;padding:5px;color:green;cursor: pointer;">Generate API Key</p>
                </div>
                <p style="color:red"> Kindly note that Generating new API Key will automatically delete the current API Key. proceed with caution</p>

                {% if apitoken != 'absent' %}
                <div style="margin-top:40px;">
                    <div style="display:flex;width:600px;">
                        <p>API Token: <span style="font-weight:bold;" id="token">**********************************************</span>
                            <i class="fa fa-eye" id="visibility"
                               style="color:grey;margin-left:20px"> </i>
                            <i id="copyButton"
                               class="fa fa-copy"
                               style="background:#d3fdfe;color:#097085;margin-left:20px;padding:3px;cursor: pointer;">
                                Copy</i></a>
                        </p>
                    </div>
                    <p>Date Created: <span style="font-weight:bold">06/03/2022</span></p>

                </div>
                {% endif %}

            </div>
        </div>
        <div class="disp_content" id="my_sub" style="display:none">
            <div class="with-search">
                <h2>My Subscriptions</h2>
            </div>
            <div style="margin-left:30px">
                <table class="w3-table w3-striped w3-center" style="width:100%">
                    <tr style="background-color:black">
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">API Name</p>
                            </div>
                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Subscription date</p>
                            </div>

                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Subscription status</p>
                            </div>
                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Action</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div style="display:flex">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Tennis_pictogram.svg/300px-Tennis_pictogram.svg.png"
                                     alt=""
                                     width="50" height="50" style="border-radius:50px">
                                <p style="margin-left:20px">Tennis API</p>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p>06/12/2023</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:red">inactive</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:blue">open doc</p>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display:flex">
                                <img src="{% static 'images/account.png' %}"
                                     alt=""
                                     width="50" height="50" style="border-radius:50px">
                                <p style="margin-left:20px">Football API</p>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p>06/12/2023</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:green">active</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:blue">open doc</p>
                            </div>

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


</div>
{% else %}
<div style="padding-top:150px;">
    <div style="align-items:center;border:grey;width:100%;margin-left:50px;">
        <a href="{% url 'logout' %}">
            <p>
                    <span>
                        <i class="fa fa-sign-out"></i>
                    </span>
                SIGN OUT
            </p>

        </a>
    </div>
    <div style="align-items:center;display:flex;margin-left:40px">
        <p>KINDLY OPEN THIS PAGE IN A DESKTOP</p>
    </div>
</div>
{% endif %}


<script>

    const xValues = ['05/12', '06/12', '07/12', '08/12', '09/12', '10/12', '11/12', '11/12', '11/12', '11/12',];
    new Chart("chartAnalytics", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 830, 1478],
                borderColor: "#018787",
                fill: false,
                borderWidth: 1,
            }
            ],

        },
        options: {
            legend: {

                display: false,
                title: {
                    text: 'performance'
                }

            },
            title: {
                display: true,
                text: 'App Performance',
                fontSize: 18,
                fontColor: 'black'
            },

            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'X-Axis Label',
                        fontSize: 16,
                        fontColor: 'black'
                    }
                },
            }
        }

    });


    function switchTab(val) {
        swid = '#' + val;
        $('.tab_btn').css('color', 'black');
        if (val == 'basic_info') {
            $('#bs_inf').css('color', '#0E7DA6');
        } else if (val == 'analytics') {
            $('#bs_ana').css('color', '#0E7DA6');
        } else if (val == 'billing') {
            $('#bs_bil').css('color', '#0E7DA6');
        } else if (val == 'my_apis') {
            $('#bs_mya').css('color', '#0E7DA6');
        } else {
            $('#bs_mysub').css('color', '#0E7DA6');
        }
        $('.disp_content').css('display', 'none');
        $(swid).css('display', 'block');
    }

    $('#visibility').click(function(){
        var tokenK=$('#apitokenkey').text();
        if($('#visibility').hasClass('fa-eye')){
            $('#visibility').removeClass('fa-eye');
            $('#token').text(tokenK);
            $('#visibility').addClass('fa-eye-slash');
        }else{
            $('#visibility').removeClass('fa-eye-slash');
            $('#visibility').addClass('fa-eye');
            $('#token').text('**********************************************');
        }

    });



    $('#menu-open').click(function () {
        $('#menu-open').css('display', 'none');
        $('#nav').css('display', 'block');
        $('#menu-close').css('display', 'block');
    });
    $('#menu-close').click(function () {
        $('#menu-close').css('display', 'none');
        $('#nav').css('display', 'none');
        $('#menu-open').css('display', 'block');
    });

    $(document).ready(function () {
        $("#generate_token").click(function () {
            $.ajax({
                url: '{% url 'generateNewToken' %}',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                        $('#token').text(data.result);
                        $('#apitokenkey').text(data.result);
                        $('#visibility').addClass('fa-eye-slash');
                },
                error: function (error) {
                }
            });
        });
    });

    $(document).ready(function () {
        var tokenToCopy = $('#token');
        var copyButton = $('#copyButton');

        copyButton.on('click', function () {
            var textarea = $('<textarea>')
                .val(tokenToCopy.text())
                .css({
                    position: 'absolute',
                    left: '-9999px'
                })
                .appendTo('body');
            textarea.select();
            document.execCommand('copy');
            textarea.remove();
            copyButton.text('Copied!');
            copyButton.css('background','#d3fee4');
            copyButton.css('color','#09853a');
            setTimeout(function () {
                copyButton.text('Copy');
                copyButton.css('background','#d3fdfe');
                copyButton.css('color','#097085');

            }, 2000);
        });
    });
</script>
</body>

</html>