<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Hezron Bii">
    <meta name="description" content="This website serves APIs to developers to power their applications">
    <meta
            name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/light_blue_png.png' %}" type="image/x-image">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Roniib APIs| My Account</title>
</head>

<body>
<nav class="topnav">
    <img src="{% static 'images/light_blue_png.png' %}" alt="roniib icon" width="50" height="40"
         style="margin-top:10px;margin-left:10px">
    <ul class="topLinks">
        <li><a href="{% url 'apicategories' %}" class="inactive">Browse APIS</a></li>
        <li><a href="{% url 'pricing' %}" class="inactive">Pricing</a></li>
        <li><a href="{% url 'contact' %}" class="inactive">Contact Us</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}" class="inactive">Sign In</a></li>
        <li><a href="{% url 'register' %}" class="inactive">Register</a></li>
        {% else %}
        <img src="{% static 'images/bgimg.jpg' %}"
             width="30" height="30" style="border-radius:30px;margin-top:5px">
        {% endif %}
    </ul>
</nav>
<div style="display: flex;margin-top: 50px;">
    <div style="width: 20%;background: #EDEDED;;padding: 20px;">
        <p style="color: #0E7DA6;">
                <span>
                    <i class="fa fa-user"></i>
                </span>
            MY ACCOUNT
        </p>

        <ul style=" list-style-type: none;">
            <a href="#">
                <li class="tab_btn" onclick="switchTab('basic_info')" style="color:#0E7DA6" id="bs_inf">Basic Info</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('analytics')" style="color:black" id="bs_ana">Analytics</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('billing')" style="color:black" id="bs_bil">Billing</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('my_apps')" style="color:black" id="bs_mya">My Apps</li>
            </a>
            <a href="#">
                <li class="tab_btn" onclick="switchTab('my_sub')" style="color:black" id="bs_mysub">My Subscriptions
                </li>
            </a>
        </ul>
        <a href="{% url 'logout' %}">
            <p>
                    <span>
                        <i class="fa fa-sign-out"></i>
                    </span>
                SIGN OUT
            </p>

        </a>

    </div>
    <div style="width: 80%;padding: 20px;overflow-y: scroll;height: 85vh">
        <div class="disp_content" id="basic_info" style="display:block">
            <div class="with-search">
                <h2>Basic Info</h2>
            </div>
            <div style="margin-left:30px">
                <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
                     alt="my profile picture" width="100" height="100" style="border-radius:200px">
                <div>
                    <p>Username: <span style="font-weight:bold">JohnDoe</span></p>
                    <p>First Name: <span style="font-weight:bold">JohnDoe</span></p>
                    <p>Last Name: <span style="font-weight:bold">JohnDoe</span></p>
                    <p>Email: <span style="font-weight:bold">JohnDoe </span></p>
                    <p>Address: <span style="font-weight:bold">JohnDoe@gmail.com</span></p>


                </div>
                <div style="border-color:blue;border-radius:10px;border-style: solid; width:100px;display:flex;justify-content:center;margin-left:40px">
                    <p style="margin:0px;padding:5px;color:blue"><i class="fa fa-edit"
                                                                    style="color:blue"></i> Edit</p>
                </div>


            </div>
        </div>
        <div class="disp_content" id="billing" style="display:none">
            <div class="with-search">
                <h2>Billing</h2>
            </div>
            <div style="margin-left:30px">
                <div>
                    <p>You have not added a billing method</p>
                    <div style="border-color:green;border-radius:10px;border-style: solid; width:150px;display:flex;justify-content:center">
                        <p style="margin:0px;padding:5px;color:green">Add Billing Method</p>
                    </div>
                </div>
                <div>
                    <p>Visa .... .... 3194 </p>
                </div>
                <div>
                    <h5><u>Last Transactions</u></h5>
                    <p>NEXT BILLING ON : <span style="color:blue">06/01/2023</span></p>
                    <table class="w3-table w3-striped w3-center" style="width:100%">
                        <tr>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Transaction ID</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Amount</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Transaction date</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">status</p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div style="display:flex">
                                    <p style="margin-left:20px">QrWdsfsdfsdfsd324233f4t42f13r4fsr34</p>
                                </div>
                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p>$29</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:blue">06/12/2023 10:45 GMT</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:green">success</p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display:flex">
                                    <p style="margin-left:20px">QrWdsfsdfsdfsd324233f4t42f13r4fsr34</p>
                                </div>
                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p>$69</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:blue">06/12/2023 00:23 GMT</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p style="color:red">failed</p>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
                <hr style="color:red;width:100%;height:3px">
                <p>Accepted payment methods</p>
                <div >
                </div>
            </div>
        </div>
        <div class="disp_content" id="analytics" style="display:none">
            <div class="with-search">
                <h2>Analytics</h2>
            </div>
            <div style="margin-left:30px">
                <p>Filter</p>
                <div style="display:flex;">
                    <div style="display:flex;justify-content:space-between;margin-right:50px">
                        <p style="margin-right:10px">Time duration</p>
                        <select
                                style="font-family: poppins;background-color: azure;border-radius: 10px;">
                            <option value="javascript">Last 24 hours</option>
                            <option value="python">Last 7 days</option>
                            <option value="java">Last 1 month(30days)</option>
                        </select>
                    </div>
                    <div style="display:flex;justify-content:space-between">
                        <p style="margin-right:10px">API </p>
                        <select
                                style="font-family: poppins;background-color: azure;border-radius: 10px;">
                            <option value="javascript">All</option>
                            <option value="python">Football API</option>
                            <option value="java">Basketball API</option>
                        </select>
                    </div>


                </div>
                <hr style="margin:5px">

                <div style="display:flex;justify-content:space-evenly;margin-right:50px">
                    <div style="background-color:red;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                        <p style="font-size:40px;margin-left:70px;color:white;margin-top:0px;margin-bottom:0px">0%</p>
                        <p style="color:white;margin-left:70px">Errors</p>
                    </div>
                    <div style="background-color:blue;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                        <p style="font-size:40px;margin-left:70px;color:white;margin-top:0px;margin-bottom:0px">20%</p>
                        <p style="color:white;margin-left:70px">Latency</p>
                    </div>
                    <div style="background-color:green;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                        <p style="font-size:40px;margin-left:70px;color:white;margin-top:0px;margin-bottom:0px">400</p>
                        <p style="color:white;margin-left:70px">Api Calls</p>
                    </div>
                </div>
                <canvas id="chartAnalytics" style="width:100%;margin-top:40px;margin-right:50px"></canvas>

            </div>
        </div>
        <div class="disp_content" id="my_apps" style="display:none">
            <div class="with-search">
                <h2>My Apps</h2>
            </div>
            <div style="margin-left:30px">
                <div style="border-color:green;border-radius:10px;border-style: solid; width:150px;display:flex;justify-content:center">
                    <p style="margin:0px;padding:5px;color:green">Add New App</p>
                </div>
                <div style="margin-top:40px">
                    <p>App Name: <span style="font-weight:bold">Myfooty</span></p>
                    <p>Date Created: <span style="font-weight:bold">06/03/2022</span></p>
                    <p>API Token: <span style="font-weight:bold">Myfotrherhrthtrreg45e437554y765h54woty </span> <i
                            class="fa fa-edit"
                            style="color:blue"> Generate New</i></p>
                    <div style="border-color:red;border-radius:10px;border-style: solid; width:200px;display:flex;justify-content:center;margin-left:40px">
                        <p style="margin:0px;padding:5px;color:red">Delete Myfooty App</p>
                    </div>
                </div>
                <div style="margin-top:40px">
                    <p>App Name: <span style="font-weight:bold">Myfooty</span></p>
                    <p>Date Created: <span style="font-weight:bold">06/03/2022</span></p>
                    <p>API Token: <span style="font-weight:bold">Myfotrherhrthtrreg45e437554y765h54woty </span> <i
                            class="fa fa-edit"
                            style="color:blue"> Generate New</i></p>
                    <div style="border-color:red;border-radius:10px;border-style: solid; width:200px;display:flex;justify-content:center;margin-left:40px">
                        <p style="margin:0px;padding:5px;color:red">Delete Myfooty App</p>
                    </div>
                </div>

                <div style="margin-top:40px">
                    <p>App Name: <span style="font-weight:bold">Myfooty</span></p>
                    <p>Date Created: <span style="font-weight:bold">06/03/2022</span></p>
                    <p>API Token: <span style="font-weight:bold">Myfotrherhrthtrreg45e437554y765h54woty </span> <i
                            class="fa fa-edit"
                            style="color:blue"> Generate New</i></p>
                    <div style="border-color:red;border-radius:10px;border-style: solid; width:200px;display:flex;justify-content:center;margin-left:40px">
                        <p style="margin:0px;padding:5px;color:red">Delete Myfooty App</p>
                    </div>
                    <hr style="width:100%;height:3px;color:red">
                </div>

            </div>
        </div>
        <div class="disp_content" id="my_sub" style="display:none">
            <div class="with-search">
                <h2>My Subscriptions</h2>
            </div>
            <div style="margin-left:30px">
                <table class="w3-table w3-striped w3-center" style="width:100%">
                    <tr style="background-color:black">
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">API Name</p>
                            </div>
                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Subscription date</p>
                            </div>

                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Subscription status</p>
                            </div>
                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Action</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div style="display:flex">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Tennis_pictogram.svg/300px-Tennis_pictogram.svg.png"
                                     alt=""
                                     width="50" height="50" style="border-radius:50px">
                                <p style="margin-left:20px">Tennis API</p>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p>06/12/2023</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:red">inactive</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:blue">open doc</p>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display:flex">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Football_pictogram.svg/2048px-Football_pictogram.svg.png"
                                     alt=""
                                     width="50" height="50" style="border-radius:50px">
                                <p style="margin-left:20px">Football API</p>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p>06/12/2023</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:green">active</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p style="color:blue">open doc</p>
                            </div>

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


</div>
<script>
    function switchTab(val){
        swid='#'+val;
        $('.tab_btn').css('color','black');
        if( val == 'basic_info'){
            $('#bs_inf').css('color','#0E7DA6');
        }else if(val =='analytics' ){
            $('#bs_ana').css('color','#0E7DA6');
        }else if(val == 'billing'){
            $('#bs_bil').css('color','#0E7DA6');
        }else if(val =='my_apps' ){
            $('#bs_mya').css('color','#0E7DA6');
        }else{
            $('#bs_mysub').css('color','#0E7DA6');
        }
        $('.disp_content').css('display','none');
        $(swid).css('display','block');
    }
</script>
<script>
    const xValues = ['05/12','06/12','07/12','08/12','09/12','10/12','11/12'];

    new Chart("chartAnalytics", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
          borderColor: "red",
          fill: false
        }, {
          data: [1600,1700,1700,1900,2000,2700,4000],
          borderColor: "green",
          fill: false
        }, {
          data: [300,700,2000,5000,6000,4000,2000,1000],
          borderColor: "blue",
          fill: false
        },
        {
          data: [800,100,2500,5800,6780,4050,2100],
          borderColor: "yellow",
          fill: false
        },
        ]
      },
      options: {
        legend: {display: false}
      }
    });
</script>
</body>

</html>