<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Hezron Bii">
    <meta name="description" content="This website serves APIs to developers to power their applications">
    <meta
            name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/light_blue_png.png' %}" type="image/x-image">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>pricing plans</title>
</head>

<body>
{% if request.user_agent.is_pc %}
<nav class="topnav">
    <a href="{% url 'home' %}"><img src="{% static 'images/light_blue_png.png' %}" alt="roniib icon" width="50"
                                    height="40"
                                    style="margin-left:10px;"></a>
    <ul class="topLinks">
        <li><a href="{% url 'apicategories' %}" class="inactive">Browse APIS</a></li>
        <li><a href="{% url 'pricing' %}" class="active">Pricing</a></li>
        <li><a href="{% url 'contact' %}" class="inactive">Contact Us</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}" class="inactive">Sign In</a></li>
        <li><a href="{% url 'register' %}" class="inactive">Register</a></li>
        {% else %}
        <li><a href="{% url 'myaccount' %}" class="inactive">My Account</a></li>
        <img src="{% static 'images/bgimg.jpg' %}"
             width="30" height="30" style="border-radius:30px;margin-top:5px">
        {% endif %}
    </ul>
</nav>

{% else %}
<nav class="topnav"style="width:100%;display-flex:justify-content:space_between;align-items:center;" >
    <a href="{% url 'home' %}" style="padding:5px;margin-top:0px"><img src="{% static 'images/light_blue_png.png' %}" alt="roniib icon" width="50"
                                    height="40"
                                    style="margin-left:0px;"></a>
    <div style="margin-right:20px" id="menu-open"><i class="fa fa-bars" style="font-size:24px;color:white"></i></div>
    <div style="margin-right:20px;display:none" id="menu-close"><i class="fa fa-close" style="font-size:24px;color:white"></i></div>
</nav>

<div id="nav" style="text-decoration:none;padding-top:70px;display:none;width:90%;height:800px;z-index:1000px;position: absolute;background-color: rgba(4, 69, 106, 1);" >
    <ul class="topLinks">
        <li><a href="{% url 'apicategories' %}" class="inactive">Browse APIS</a></li>
        <li><a href="{% url 'pricing' %}" class="active">Pricing</a></li>
        <li><a href="{% url 'contact' %}" class="inactive">Contact Us</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}" class="inactive">Sign In</a></li>
        <li><a href="{% url 'register' %}" class="inactive">Register</a></li>
        {% else %}
        <li><a href="{% url 'myaccount' %}" class="inactive">My Account</a></li>
        <img src="{% static 'images/bgimg.jpg' %}"
             width="60" height="60" style="border-radius:30px;margin-top:20px;margin-left:20px">
        {% endif %}
    </ul>
</div>

{% endif %}

<div style="overflow-y: scroll;height: 100vh">
    <div class="bgprice">
        <div>

            <h3 id="flex_rates">FIXED <span id="pricing_rates">PRICING RATES</span></h3>
            {% if request.user_agent.is_pc %}
            <div class="pricetags">
                {% else %}
                <div class="" style="margin-right:0px">
                {% endif %}
            {% if request.user_agent.is_pc %}
                <div class="price_container">
                {% else %}
                <div class="price_container"style="margin-left:0px;width:100%">

                {% endif %}

                    <p class="price_type">Basic</p>
                    <p class="price_amt">$0<span>/mo</span></p>
                    <div class="price_feat">
                        <p class="">10 POST requests/day</p>
                        <p class="">100 GET requests/day</p>
                        <p class="">2 requests per second</p>
                    </div>
                    <div class="sub_btn_align">
                        <div class="sub_btn">
                            {% if request.user.is_authenticated %}
                            <p>Subscribe</p>
                            {% else %}
                            <a href="{% url 'login' %}"><p>Login to Subscribe</p></a>
                            {% endif %}
                        </div>
                    </div>


                </div>
            {% if request.user_agent.is_pc %}
                <div class="price_container">
                {% else %}
                <div class="price_container"style="margin-left:0px;width:100%">

                {% endif %}

                    <p class="price_type">Developer</p>
                    <p class="price_amt">$29<span>/mo</span></p>
                    <div class="price_feat">
                        <p class="">5K POST requests/month</p>
                        <p class="">50K GET requests/month</p>
                        <p class="">20 requests per second</p>
                    </div>
                    <div class="sub_btn_align">
                        <div class="sub_btn">
                            {% if request.user.is_authenticated %}
                            <p>Subscribe</p>
                            {% else %}
                            <a href="{% url 'login' %}"><p>Login to Subscribe</p></a>
                            {% endif %}
                        </div>
                    </div>


                </div>
            {% if request.user_agent.is_pc %}
                <div class="price_container">
                {% else %}
                <div class="price_container"style="margin-left:0px;width:100%">

                {% endif %}

                    <p class="price_type">Enterprise</p>
                    <p class="price_amt">$69<span>/mo</span></p>
                    <div class="price_feat">
                        <p class="">50K POST requests/month</p>
                        <p class="">500K GET requests/month</p>
                        <p class="">100 requests per second</p>
                    </div>
                    <div class="sub_btn_align">
                        <div class="sub_btn">
                            {% if request.user.is_authenticated %}
                            <p>Subscribe</p>
                            {% else %}
                            <a href="{% url 'login' %}"><p>Login to Subscribe</p></a>
                            {% endif %}
                        </div>
                    </div>


                </div>


            </div>

            <div class="customrate">
                <p>Need custom rate?</p>

            </div>
            <div class="customrate"><a href="{% url 'contact' %}">
                <div class="contact_btn">
                    <p>CONTACT US</p>
                </div></a>

            </div>
        </div>


    </div>
</div>
                <script>

                $('#menu-open').click( function(){
            $('#menu-open').css('display','none');
            $('#nav').css('display','block');
            $('#menu-close').css('display','block');
                            });
           $('#menu-close').click( function(){
            $('#menu-close').css('display','none');
            $('#nav').css('display','none');
            $('#menu-open').css('display','block');
                            });
                </script>

</body>

</html>